* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Typography */

h1 {
    font-size: 64pt;
    font-family: 'Markazi Text', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Markazi Text', serif;
    font-size: 40pt;
}

h3 {
    font-family: 'Markazi Text', serif;
    font-size: 32pt;
}

h4 {
    font-family: 'Markazi Text', serif;
    font-size: 24pt;
}

h5 {
    font-family: 'Markazi Text', serif;
    font-size: 20pt;
}

h6 {
    font-family: 'Markazi Text', serif;
    font-size: 16pt;
}

p, span {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    overflow: hidden;
    max-width: 65ch;
}