* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    color: #333333;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Typography */

h1, h2 {
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    line-height: 0.8em;
}

h1 {
    font-size: 64pt;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 18pt;
}

p, span {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    overflow: hidden;
    max-width: 65ch;
}